<div class="container mt-5">
  <div class="row">
  <div class="col-12 col-md-6 contenedor_col1">
<img class="img-fluid borde_redondo" src="../../assets/img/jonathan_demme.jpg" alt="Jonathan" title="Jonathan Demme">
  </div>
  <div class="col-12 col-md-6 mt-5 mt-md-0 ">
      <div class="card text-white bg-dark">
          <div class="card-header text-info"><h1>{{titulo_info}}</h1></div>
          <div class="card-body text-info">
            <h5 class="card-title">{{biografia}}</h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>
</div>
</div>