<div class="container mt-5">
  <table class="table table-sm table-dark contenedor_about">
    <thead>
      <tr>
        <th scope="col">{{tableHeader1}}</th>
        <th scope="col">{{tableHeader2}}</th>
        <th scope="col">{{tableHeader3}}</th>
        <th scope="col">{{tableHeader4}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{tableData1}}</td>
        <td>{{tableData2}}</td>
        <td>{{tableData3}}</td>
        <td>{{tableData4}}</td>
      </tr>
    </tbody>
  </table>
</div>