<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand logo" routerLink=""><h1>Lamiah</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  active">
        <a class="nav-link" routerLink="about">Sobre Lamiah</a>
      </li>
      <li class="nav-item active ">
        <a class="nav-link" routerLink="contacto">Ponte... en contacto ( ͡º ͜ʖ ͡º)</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
